<launch>
  
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  
  <param name="/use_sim_time" value="true"/>
  
  <param name="robot_description" 
         command="$(find xacro)/xacro '$(find color_sorting_arm)/urdf/arm.urdf.xacro'" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find color_sorting_arm)/worlds/sorting_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model sorting_arm -x 0.0 -y 0 -z 0.0"
        output="screen" />
  
  <rosparam file="$(find color_sorting_arm)/config/controllers.yaml" command="load"/>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" ns="/sorting_arm"
        args="joint_state_controller
              joint1_position_controller
              joint2_position_controller
              joint3_position_controller
              joint4_position_controller
              joint5_position_controller
              gripper_left_position_controller
              gripper_right_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="joint_states" to="/sorting_arm/joint_states"/>
    <param name="publish_frequency" value="50.0"/>
    <param name="use_tf_static" value="true"/>
  </node>

</launch>
